<h1>Selamat Datang di Sisfo Bengkel</h1>
<p class="lead">Sistem Informasi untuk mengelola data suku cadang, jasa servis, dan transaksi di bengkel Anda.</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Manajemen Suku Cadang</h5>
                <p class="card-text">Kelola stok, harga beli, dan harga jual suku cadang.</p>
                <a href="/parts" class="btn btn-primary">Lihat Suku Cadang</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Manajemen Jasa Servis</h5>
                <p class="card-text">Daftar layanan jasa servis yang tersedia.</p>
                <a href="/services" class="btn btn-secondary">Lihat Jasa Servis</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Manajemen Transaksi</h5>
                <p class="card-text">Catat penjualan suku cadang dan jasa servis.</p>
                <a href="/transactions" class="btn btn-success">Lihat Transaksi</a>
            </div>
        </div>
    </div>
</div>