<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1><%= title %></h1>
        <p>Isi detail jasa servis baru.</p>
        
        <form action="/services/add" method="POST">
            <div class="mb-3">
                <label>Kode Servis</label>
                <input type="text" name="code" class="form-control" placeholder="Contoh: SRV-01" required>
            </div>
            <div class="mb-3">
                <label>Nama Jasa</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Biaya (Rp)</label>
                <input type="number" name="price" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Simpan Jasa</button>
        </form>
    </div>
</div>