<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1><%= title %></h1>
        <p>Isi detail jasa servis baru.</p>
        
        <form action="/services/add" method="POST">
            <div class="mb-3">
                <label>Nama Jasa Servis</label>
                <input type="text" name="name" class="form-control" required>
            </div>
        
            <div class="mb-3">
                <label>Kode Jasa</label>
                <input type="text" name="code" class="form-control" required>
            </div>
        
            <div class="mb-3">
                <label>Harga Jasa (Rp)</label>
                <input type="number" name="price" class="form-control" required>
            </div>
        
            <div class="mb-3">
                <label>Deskripsi</label>
                <textarea name="description" class="form-control"></textarea>
            </div>
        
            <input type="hidden" name="isPart" value="false">
        
            <button type="submit" class="btn btn-primary">Simpan Jasa Servis</button>
            <a href="/services" class="btn btn-secondary">Batal</a>
        </form>
    </div>
</div>