<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="fas fa-wrench me-2 text-warning"></i>SISFO BENGKEL
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Overview</a>
                </li>
                
                <% if (user) { %>
                    <li class="nav-item">
                        <% if (user.role === 'admin') { %>
                            <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                        <% } else if (user.role === 'kasir') { %>
                            <a class="nav-link" href="/kasir/dashboard">Dashboard</a>
                        <% } else { %>
                            <a class="nav-link" href="/mechanic/dashboard">Dashboard</a>
                        <% } %>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <div class="d-flex align-items-center bg-secondary rounded-pill px-3 py-1">
                            <small class="text-white me-2"><%= user.name %></small>
                            <img src="<%= user.profileImage || '/img/default-pp.png' %>" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item ms-lg-3">
                        <a href="/login" class="btn btn-primary btn-sm px-4 btn-hover shadow-sm">
                            <i class="fas fa-sign-in-alt me-1"></i> Masuk
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>