<div class="container mt-4">
    <h2>Selamat Datang, <%= user.name %></h2>
    <hr>

    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5>Transaksi Baru</h5>
                    <p>Input servis pelanggan baru.</p>
                    <a href="/transactions/add" class="btn btn-light btn-sm">Buka Form</a>
                </div>
            </div>
        </div>
    </div>

    