
<%- include('../layouts/main') %>

<div class="container mt-4">
    <h1>Selamat Datang, <%= user.name %></h1>
    <p>Anda login sebagai: <span class="badge bg-info"><%= user.role %></span></p>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card bg-primary text-white mb-3">
                <div class="card-body">
                    <h5 class="card-title">Transaksi Baru</h5>
                    <p class="card-text">Input pendaftaran kendaraan pelanggan.</p>
                    <a href="/transactions/add" class="btn btn-light">Buka Form</a>
                </div>
            </div>
        </div>
        </div>
</div>